/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;

}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

/*APP*/
.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

.main, .post, .profile, .userList, .signup {
  padding: 20px;
}

.hide {
  display: none;
}

.invalid {
  outline: 2px solid red;
}

button {
  background-color: black;
  color: white;
  border: 2px solid white;
}

button:hover {
  cursor: pointer;
}

.error {
  color: yellow;
}

/*HEADER*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid white;
}

.nav, .user {
  display: flex;
  gap: 20px;
  align-items: center;
}

.guest {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-login {
  background-color: black;
  position: absolute;
  top: 73px;
  right: 0;
  border: 1px solid white;
  padding: 40px;
  z-index: 1;
}

.login>form {
  display: flex;
  gap: 20px;
}

/*MAIN*/
.main>h1 {
  text-align: center;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 750px;
}

/*POST*/
.postContainer {
  display: flex;
  justify-content: center;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 750px;
}

.postHeader {
  display: flex;
  gap: 20px;
}

.postText {
  white-space: pre-line;
}

/*COMMENTS*/
.commentContainer, .comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commentsContainer {
  margin-top: 40px;
}

.commentHeader {
  position: relative;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.commentInput {
  width: 100%;
}

.commentDelete {
  position: absolute;
  right: 0;
}

.commentHr {
  border: 1px solid rgba(255,255,255,0.3);
}

/*SIGN-UP FORM*/
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-row {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
  position: relative;
}

.form-row>label {
  width: 180px;
  text-align: right;
}

.form-row>input {
  width: 300px;
}

.form-row>.error {
  position: absolute;
  left: 520px;
  width: 250px;
}

/*LOGIN*/
.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  margin-top: 40px;
}

.loginForm {
  display: flex;
  gap: 20px;
}

/*PROFILE*/
.user-profile {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}

.user-posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-posts>ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profileForm {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.updateProfile, .updatePassword {
  display: flex;
  gap: 10px;
}

/*FOOTER*/
.footer {
  text-align: center;
}